<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jymfony Skeleton</title>
    <style type="text/css">
        .logo {
            height: 150px;
        }
    </style>
</head>
<body>
    <main>
        <div style="text-align: center">
            <h1>Welcome to Jymfony!</h1>
            <a href="https://github.com/jymfony/jymfony">
                <img class="logo" src="https://s3.amazonaws.com/jymfony.com/jymfony-logo.svg" alt="Jymfony" />
            </a>
        </div>
    </main>
</body>
</html>
